<pending-screen [isPending]="isPending()">
    <div class="p-4 motion-opacity-in-[0] motion-translate-y-in-[5%] motion-duration-[0.7s] motion-ease-in-out">
        <div class="text-3xl font-bold">내 계정</div>
        <br />
        <profile-card 
        [profile]="profile()"
        (onEditNavigate)="onEditNavigate($event)"
        ></profile-card>

        <!-- <div>
            <div class="flex items-center justify-start">
                <div class="w-[100px] h-full">
                    구글
                </div>
                <div class="w-full">
                </div>
            </div>
        </div> -->

        <div class="flex justify-center w-full mt-10">
            <logout-button></logout-button>
        </div>
    </div>
</pending-screen>