@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GothicA1';
    src: url('../public/fonts/GothicA1-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'GothicA1';
    src: url('../public/fonts/GothicA1-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'GothicA1';
    src: url('../public/fonts/GothicA1-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'GothicA1';
    src: url('../public/fonts/GothicA1-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../public/fonts/OpenSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../public/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../public/fonts/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../public/fonts/OpenSans-ExtraBold.ttf');
    font-weight: 900;
}

@layer components {
    [data-motion="slideUp"] {
        @apply motion-opacity-in-[0] motion-translate-y-in-[5%] motion-duration-[0.7s] motion-ease-in-out;
    }
    .page-slideup-motion {
        @apply motion-opacity-in-[0] motion-translate-y-in-[5%] motion-duration-[0.7s] motion-ease-in-out;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: OpenSans, GothicA1, sans-serif;
}