@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-5%);
    }
    to {
        opacity: 100;
        transform: translateX(0%);
    }
}

[data-anim="slideRight"] {
    animation: slideRight 0.5s ease-in-out;
}