<div data-motion="slideUp">
    <div class="text-2xl font-bold text-center">거의 다 왔어요! 🎉</div>
    <div class="flex flex-col items-center justify-center gap-2">
        <p class="text-lg">새로운 비밀번호를 설정해주세요.</p>
    </div>
    <br />
    <form class="w-full" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="relative">
            <input type="password" placeholder="" class="input input-filled peer" id="passwordInput"
                   formControlName="password" />
            <label class="input-filled-label" for="passwordInput">비밀번호</label>
            <span class="input-filled-focused"></span>
        </div>
        <span class="label">
            @if (hasError('password', 'required')) {
                <span class="label-text-alt text-primary motion-preset-focus">비밀번호를 입력해 주세요.</span>
            } @else if (hasError('password', 'minlength')) {
                <span class="label-text-alt text-primary motion-preset-focus">비밀번호는 {{ userRules.password.min }}자 이상 입력해야해요.</span>
            } @else if (hasError('password', 'maxlength')) {
                <span class="label-text-alt text-primary motion-preset-focus">비밀번호는 {{ userRules.password.max }}자 까지 입력 가능해요.</span>
            } @else if (hasError('password', 'pattern')) {
                <span class="label-text-alt text-primary motion-preset-focus">비밀번호는 영문, 숫자, 특수문자 조합으로 입력해주세요.</span>
            }
        </span>

        <div class="mt-4"></div>
        <div class="relative">
            <input type="password" placeholder="" class="input input-filled peer" id="confirmPasswordInput"
                   formControlName="confirmPassword" />
            <label class="input-filled-label" for="confirmPasswordInput">비밀번호 확인</label>
            <span class="input-filled-focused"></span>
        </div>
        <span class="label">
            @if (hasError('confirmPassword', 'required')) {
                <span class="label-text-alt text-primary motion-preset-focus">비밀번호를 입력해 주세요.</span>
            } @else if (hasError('confirmPassword', 'passwordMismatch')) {
                <span class="label-text-alt text-primary motion-preset-focus">비밀번호가 일치하지 않습니다.</span>
            }
        </span>

        <br />
        <button class="w-full btn btn-soft btn-primary h-[3rem] text-xl" [disabled]="isPending() || !formGroup.valid">
            @if (isPending()) {
                <span class="loading loading-spinner motion-preset-focus"></span>
            } @else {
                <span>완료</span>
            }
        </button>
    </form>
</div>
