<modal-overlay>
    <div class="relative items-center justify-center hidden sm:flex">
        <img src="/imgs/email-send.svg" class="absolute bottom-[-3rem] w-40" />
    </div>
    <button (click)="close()">
        <span class="icon-[material-symbols--close-small-outline-rounded] size-10"></span>
    </button>

    @if (step === 'send') {
    <div class="text-2xl font-bold text-center">이메일 주소를 인증하세요.</div>
    <br />
    @if (profile(); as profile) {
    <div class="flex flex-col items-center justify-center">
        <p>비밀번호를 변경하려면 현재 이메일 주소</p>
        <p>"{{profile.email}}" 부터 인증해야 해요.</p>
    </div>
    }
    <br />
    <div class="flex items-center justify-end gap-4">
        <button class="btn btn-soft" (click)="close()">취소</button>
        <button class="btn btn-soft btn-primary" [disabled]="isOtpSendPending()" (click)="onSendOtp()">
            @if(isOtpSendPending()) {
            <span class="loading loading-spinner"></span>
            } @else {
            인증하기
            }
        </button>
    </div>
    }

    @if (step === 'form') {
    <div class="text-2xl font-bold text-center">코드 입력</div>
    <br />
    <div class="flex flex-col items-center justify-center">
        <p>이메일 확인: 방금 인증 코드를 보냈어요. 해당 코드를 입력하고 다음 단계로 넘어가세요.</p>
    </div>
    <div class="motion-opacity-in-[0] motion-translate-y-in-[5%] motion-duration-[0.7s] motion-ease-in-out sm:mt-10">
        <otp-form [email]="profile()!.email" (submit)="onReceiveOtp($event)"></otp-form>
    </div>
    }
</modal-overlay>