<div class="text-2xl font-bold text-center">닉네임 변경하기</div>
<br />

<form class="w-full" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="relative">
        <input type="text" placeholder="nickname" class="input input-filled peer" id="nicknameInput"
            formControlName="nickname" />
        <label class="input-filled-label" for="nicknameInput">닉네임</label>
        <span class="input-filled-focused"></span>
    </div>
    <span class="label">
        @if (hasError('nickname', 'required')) {
        <span class="label-text-alt text-primary motion-preset-focus">닉네임을 입력해
            주세요.</span>
        } @else if(hasError('nickname', 'minlength') || hasError('nickname', 'maxlength')){
        <span class="label-text-alt text-primary motion-preset-focus">{{userRules.nickname.lengthErrMsg}}</span>
        } @else if (hasError('nickname', 'pattern')){
        <span class="label-text-alt text-primary motion-preset-focus">{{userRules.nickname.regexErrMsg}}</span>
        }
    </span>

    <br />
    <div class="flex items-center justify-around w-full gap-4">
        <div class="flex-1">
            <button class="w-full btn btn-outline btn-primary h-[3rem]" type="button"
                (click)="onModalClose()">취소</button>
        </div>
        <button class="flex-1 btn btn-soft btn-primary h-[3rem] text-xl" [disabled]="isPending() || !formGroup.valid">
            @if (isPending()) {
            <span class="loading loading-spinner motion-preset-focus"></span>
            } @else {
            완료
            }
        </button>
    </div>
</form>