<pending-screen [isPending]="isPending()">
    <div data-motion="slideUp" class="p-4 sm:mt-10">

        <div class="flex items-center justify-start gap-2">
            
            <a routerLink="/users/me" class="icon-[ic--baseline-arrow-back-ios] text-3xl"></a>
            <h1 class="text-3xl font-bold">액세스 및 디바이스</h1>
        </div>

        <div class="my-4"></div>

        <div class="flex flex-col gap-4">
            @for (item of devices(); track item.id) {
            <div class="p-4 border rounded-md">
                <div class="flex items-center justify-between">
                    <div class="font-bold">{{item.model}}</div>
                    <div>
                        @if(item.isCurrentDevice) {
                        <div class="text-sm text-info">현재 디바이스</div>
                        } @else {
                        <button class="rounded-md btn btn-warning btn-soft"
                            (click)="onLogoutDevice(item.id)">로그아웃</button>
                        }
                    </div>
                </div>
                <div class="my-2"></div>
                <div class="text-sm">OS: {{item.os}}</div>
                <div class="text-sm">로그인 일자: {{item.lastLoginDate|date:'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>
            }
        </div>
    </div>
</pending-screen>